{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Skill{% endblock %}

{% block body %}
    <h1>Créer un nouveau Skill</h1>

    {{ include('backoffice/skill/_form.html.twig') }}

    <a href="{{ path('backoffice_skills') }}">Retour à la liste</a>
{% endblock %}
