{% extends 'base.html.twig' %}

{% block title %}New Skill{% endblock %}

{% block body %}
    <h1>Create new Skill</h1>

    {{ include('backoffice/skill/_form.html.twig') }}

    <a href="{{ path('backoffice_skills') }}">back to list</a>
{% endblock %}
