{% extends 'base.html.twig' %}

{% block title %}Edit Advertisements{% endblock %}

{% block body %}
    <h1>Edit Advertisements</h1>

    {{ include('backoffice/advertisement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backoffice_advertisements') }}">back to list</a>

    {{ include('backoffice/advertisement/_delete_form.html.twig') }}
{% endblock %}
