{% extends 'base.html.twig' %}

{% block title %}New Advertisements{% endblock %}

{% block body %}
    <h1>créer une nouvelle annonce</h1>

    {{ include('backoffice/advertisement/_form.html.twig') }}

    <a href="{{ path('backoffice_advertisements') }}">retour à la liste</a>
{% endblock %}
