* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    background: #6667ab;
    font-family: 'Josefin Sans', sans-serif;
}

.btn{
    background-color: #fffbfe;
    font-size: 20px;
    color: black;
    margin-top: 15px;
    
}

.img-logo{
    width: 50%;
    align-items: center;
    margin-left: 10em
}

.bg-light{
    color: #6667ab;
    background-color: #838e83;
}





